{{ define "main" }}
  {{ $paginator := .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}

  <div class="gallery-grid {{ if not .Site.Params.doNotLoadAnimations }}animated fadeInDown{{ end }}">
    {{ range $paginator.Pages }}
      {{ $thumb := .Resources.GetMatch "cover*" }}
      <a class="gallery-card" href="{{ .RelPermalink }}">
        {{ if $thumb }}
          <img
            class="gallery-card__image"
            src="{{ $thumb.RelPermalink }}"
            alt="{{ .Title }}"
            width="{{ $thumb.Width }}"
            height="{{ $thumb.Height }}"
            loading="lazy"
          />
        {{ end }}
        <span class="gallery-card__body">
          <span class="gallery-card__title">{{ .Title }}</span>
          <span class="gallery-card__date">{{ .Date.Format "2006-01-02" }}</span>
        </span>
      </a>
    {{ end }}
  </div>

  <div class="pagination">
    {{ partial "pagination.html" . }}
  </div>
{{ end }}
