{{- $page := . -}}
{{- $shareTitle := .Title | default .Site.Title -}}
{{- $shareDescription := .Site.Params.description | default .Site.Title -}}
{{- if .IsPage -}}
  {{- $shareDescription = .Params.description | default .Params.summary | default .Summary | default $shareDescription -}}
{{- end -}}
{{- $shareDescription = $shareDescription | plainify | htmlUnescape | replaceRE `\s+` " " | strings.TrimSpace | truncate 140 -}}

{{- $shareImage := "" -}}
{{- $shareImageWidth := 0 -}}
{{- $shareImageHeight := 0 -}}
{{- $shareImageType := "" -}}
{{- with .Site.Params.images -}}
  {{- with index . 0 -}}
    {{- $shareImage = . | absURL -}}
    {{- $shareImageWidth = 400 -}}
    {{- $shareImageHeight = 400 -}}
    {{- $shareImageType = "image/jpeg" -}}
  {{- end -}}
{{- end -}}
{{- with .Params.image -}}
  {{- $imagePath := . -}}
  {{- with $page.Resources.GetMatch $imagePath -}}
    {{- if eq .ResourceType "image" -}}
      {{- $processedImage := .Fill "400x400 Center jpg q80" -}}
      {{- $shareKey := $page.Slug -}}
      {{- if not $shareKey -}}
        {{- $shareKey = printf "article-%s" (substr (md5 $page.RelPermalink) 0 12) -}}
      {{- end -}}
      {{- $stablePath := printf "images/share/%s.jpg" ($shareKey | lower) -}}
      {{- $stableImage := resources.Copy $stablePath $processedImage -}}
      {{- $shareImage = $stableImage.Permalink -}}
      {{- $shareImageWidth = 400 -}}
      {{- $shareImageHeight = 400 -}}
      {{- $shareImageType = "image/jpeg" -}}
    {{- end -}}
  {{- else -}}
    {{- $shareImage = $imagePath | absURL -}}
  {{- end -}}
{{- else -}}
  {{- with .Params.images -}}
    {{- with index . 0 -}}
      {{- $shareImage = . | absURL -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

<meta property="og:locale" content="zh_CN" />
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}" />
<meta property="og:site_name" content="{{ .Site.Title }}" />
<meta property="og:title" content="{{ $shareTitle }}" />
<meta property="og:description" content="{{ $shareDescription }}" />
<meta property="og:url" content="{{ .Permalink }}" />
{{- with $shareImage }}
<meta property="og:image" content="{{ . }}" />
<meta property="og:image:secure_url" content="{{ . }}" />
{{- with $shareImageWidth }}
<meta property="og:image:width" content="{{ . }}" />
{{- end }}
{{- with $shareImageHeight }}
<meta property="og:image:height" content="{{ . }}" />
{{- end }}
{{- with $shareImageType }}
<meta property="og:image:type" content="{{ . }}" />
{{- end }}
<link rel="image_src" href="{{ . }}" />
<meta itemprop="image" content="{{ . }}" />
{{- end }}
{{- if and .IsPage .Date }}
<meta property="article:published_time" content="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}" />
{{- end }}
{{- if and .IsPage .Lastmod }}
<meta property="article:modified_time" content="{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}" />
{{- end }}

<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="{{ $shareTitle }}" />
<meta name="twitter:description" content="{{ $shareDescription }}" />
{{- with $shareImage }}
<meta name="twitter:image" content="{{ . }}" />
{{- end }}
<meta itemprop="name" content="{{ $shareTitle }}" />
<meta itemprop="description" content="{{ $shareDescription }}" />
