<div
  class="{{ with .Site.Params.doNotLoadAnimations }}
    .
  {{ else }}
    animated fadeInDown
  {{ end }}"
>
  {{- $shareTitle := .Title | default .Site.Title -}}
  {{- $shareDescription := .Site.Params.description | default .Site.Title -}}
  {{- if .IsPage -}}
    {{- $shareDescription = .Params.description | default .Params.summary | default .Summary | default $shareDescription -}}
  {{- end -}}
  {{- $shareDescription = $shareDescription | plainify | htmlUnescape | replaceRE `\s+` " " | strings.TrimSpace | truncate 140 -}}
  {{- $page := . -}}
  {{- $shareKind := "page" -}}
  {{- $shareImage := "images/share-default.jpg" | relURL -}}
  {{- $shareCopy := "扫码访问伊万的个人主页" -}}
  {{- if .IsHome -}}
    {{- $shareKind = "home" -}}
    {{- $shareCopy = "扫码进入伊万的个人主页" -}}
  {{- else if eq .RelPermalink "/about/" -}}
    {{- $shareKind = "about" -}}
    {{- $shareImage = .Site.Params.profilePicture | relURL -}}
    {{- $shareCopy = "扫码查看我的履历" -}}
  {{- else if .Params.contact -}}
    {{- $shareKind = "contact" -}}
    {{- $shareCopy = "扫码联系伊万" -}}
  {{- else if eq .Section "post" -}}
    {{- $shareKind = "article" -}}
    {{- with .Params.image -}}
      {{- with $page.Resources.GetMatch . -}}
        {{- $shareImage = .RelPermalink -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
  <button
    type="button"
    class="navbar-share"
    aria-label="分享当前页面"
    title="分享"
    data-share-title="{{ $shareTitle }}"
    data-share-description="{{ $shareDescription }}"
    data-share-kind="{{ $shareKind }}"
    data-share-image="{{ $shareImage }}"
    data-share-url="{{ .Permalink }}"
    data-share-copy="{{ $shareCopy }}"
  >
    <span class="navbar-share__icon" aria-hidden="true">
      <span class="navbar-share__arrow"></span>
    </span>
  </button>
  <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
    <span aria-hidden="true" class="navbar-burger__line"></span>
    <span aria-hidden="true" class="navbar-burger__line"></span>
    <span aria-hidden="true" class="navbar-burger__line"></span>
  </a>
  <nav class="nav">
    <ul class="nav__list" id="navMenu">
      {{ $url := .RelPermalink }}
      {{ range $menuId, $menuItem := .Site.Menus.main }}
        {{ $active := eq $url $menuItem.URL }}
        {{ if $menuItem.HasChildren }}

          <li class="nav__list-item">
            <div class="optionswitch">
              <input class="optionswitch__picker" type="checkbox" id="{{ $menuId }}" hidden />

              {{ $labelClass := "optionswitch__label" }}
              {{ range $menuItem.Children }}
                {{ if eq $url .URL }}
                  {{ $labelClass = "optionswitch__label nav__link--active" }}
                {{ end }}

              {{ end }}


              <label class="{{ $labelClass }}" for="{{ $menuId }}"
                >{{ $menuItem.Name }} <i class="fa fa-angle-down" aria-hidden="true"></i
              ></label>

              <div class="optionswitch__triangle"></div>
              <ul class="optionswitch__list">
                {{ range $menuItem.Children }}
                  <li class="optionswitch__list-item">
                    {{ .Pre }}
                    <a
                      href="{{ .URL }}"
                      {{ if strings.HasPrefix .URL "http" }}
                        target="_blank" rel="noopener noreferrer"
                      {{ end }}
                      title="{{ .Title }}"
                      >{{ .Name }}</a
                    >
                  </li>
                {{ end }}
              </ul>
            </div>
          </li>
        {{ else }}
          <li class="nav__list-item">
            {{ .Pre }}
            <a
              {{ if $active }}
                class="nav__link--active"
              {{ end }}
              {{ if eq $menuItem.URL "/" }}
                data-evan-home-link
              {{ end }}
              href="{{ .URL }}"
              {{ if strings.HasPrefix .URL "http" }}
                target="_blank" rel="noopener noreferrer"
              {{ end }}
              title="{{ .Title }}"
              >{{ $menuItem.Name }}</a
            >
          </li>
        {{ end }}

      {{ end }}
    </ul>
    <ul class="nav__list nav__list--end">
      {{ if and .IsTranslated hugo.IsMultilingual }}
        <li class="nav__list-item">
          <div class="optionswitch">
            <input class="optionswitch__picker" type="checkbox" id="languagepicker" hidden />
            <label class="optionswitch__label" for="languagepicker"
              >{{ .Site.Language.LanguageName }} <i class="fa fa-angle-down" aria-hidden="true"></i
            ></label>
            <div class="optionswitch__triangle"></div>
            <ul class="optionswitch__list">
              {{ range $.Translations }}
                <li class="optionswitch__list-item">
                  <a href="{{ .RelPermalink }}" title="{{ .Language.LanguageName }}"
                    ><span
                      {{ if eq . $.Site.Language }}
                        class="active"
                      {{ end }}
                      aria-label="{{ i18n "ariaLanguage" }}{{ .Language.LanguageName }}"
                      >{{ .Language.LanguageName }}</span
                    >
                  </a>
                </li>
              {{ end }}
            </ul>
          </div>
        </li>
      {{ end }}
      {{ if not .Site.Params.disableThemeSwitcher }}
        <li class="nav__list-item nav__list-item--theme">
          <div class="themeswitch">
            <a title="切换日夜模式" aria-label="切换日夜模式">
              <i class="fas fa-adjust fa-fw" aria-hidden="true"></i>
              <span class="themeswitch__text">日夜模式</span>
            </a>
          </div>
        </li>
      {{ end }}
    </ul>
  </nav>
</div>
